* {
    margin: 0;
    padding: 0;
}
html, body{
    height: 100%;
}
body {
    font-family: 'Roboto';
    font-size: 15px;
    width: 100%;
    margin: 0 auto;
    min-height: 100%;
}
*, button, input, i, a {
    -webkit-font-smoothing: antialiased;
}
#header {
    position: relative;
    height: 60px;
    margin-top:0;
    background: #4285F4;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    z-index: 10;
    width: 100%;
    left: 0;
    top: 0;
    -webkit-transition: all;
    -o-transition: all;
    transition: all;
    -webkit-transition-duration: 200ms;
    transition-duration: 200ms;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#world-map {
    padding: 0px;
    margin:0;
}
.first{
    vertical-align: middle;
    line-height: 48px;
    float:left;
}
.first a{
    color: #fff;
    text-transform: uppercase;
    padding: 6px 10px;
    display: block;
    font-size: 16px;
    font-weight: 300;
    text-decoration: none;
}
.second {
    float:right;
}
.second .input{
    float:left;
    margin-left: 300px;
    line-height: 60px;
    vertical-align: middle;
    color: rgb(52, 73, 94);
}
.second .input #username{
    margin-left: 10px;
    width:100px;
    border: 1px solid #fcfcfc;
    padding: 0 0 0 19px;
    box-shadow: none;
    height: 34px;
    font-size: 14px;
    color: #555;
    background: #fff url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABbElEQVQ4T6WTT0sCYRDGZ94NI/oSBR26GKUtealDVNp2MUEJakXo3L1DB6NzfYMuq0ZBf4hC1qDo0CF0M6ygm4c+Q0SoOxMKhW+7bgu913nmx/M+M4Pwz4c9+jGkpZcEQwIBhI1wXC0al25aV4Cq6TvMuCU1IGxbRSP7G+IARGKZoRZSHQDkGhFxQAw/XBhv3RAHQI3pCUY8cf0aQtwqGueegLCmTyHjvRtAIKvlYs7yBLStT0bXbkGIGUnIcFMxjTkA4L8AoGqZcSZ7H4CD7SQY8EkhXi+X8jXPEJPJpFJ/H9gFog0UQnSLicAWSHtWZGQTsln6rkkhhmPpI0RIee0WsZ2rmoW0AxCaX10Wfcqpn8VEosVKKW+2tT8OJqL6qyJw1A/Atun58So/JgFCC3pLKKj4AQDbTcssBGQHsyufSn+g3w+g2Wh81K4PByVAcDoeB6AUo5y+Y2xMxKwcvNyddY6r1zX6MdLRfAEfw3oRqkrlsgAAAABJRU5ErkJggg==') no-repeat 2px 50%;
    border-radius: 4px;
}
#submit{
    position:relative;
    left:-6px;
    background: #e4f1f9; /* Old browsers */
    background: -moz-linear-gradient(top, #e4f1f9 0%, #d5e7f3 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e4f1f9), color-stop(100%,#d5e7f3)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #e4f1f9 0%,#d5e7f3 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #e4f1f9 0%,#d5e7f3 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #e4f1f9 0%,#d5e7f3 100%); /* IE10+ */
    background: linear-gradient(top, #e4f1f9 0%,#d5e7f3 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4f1f9', endColorstr='#d5e7f3',GradientType=0 ); /* IE6-9 */
    display: inline-block;
    padding: 5px 12px;
    margin: -3px 0 0 10px;
    font-size: 14px;
    font-weight: normal;
    line-height: 149%;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    background-color: #34495e;
    border: 1px solid #34495e;
    border-radius: 3px;
    color: #FFFFFF;
}
#submit:hover {
    background-color: #3f5872;
    border-color: #3f5872;
    color: #FFFFFF;
}
#legend{
    position: absolute;
    bottom: 0;
    left: 0;
    line-height: 25px;
    color:#667E72;
    font-size: 80%;
}
#legend>div {
    height: 35px;
    line-height: 35px;
    padding: 0 5px;
    clear: both;
}
#legend>div>div{
    float:left;
}
#legend .round{
    width: 25px;
    height: 25px;
    border: #667E72 solid 1px;
    border-radius: 15px;
    margin: 4px 6px;
}
#copy{
    position: absolute;
    bottom: 5px;
    right: 10px;
    color:#667E72;
    font-size: 13px;
    padding: 2px;
    background-color: rgba(255,255,255,0.75);
    border-radius: 1px;
}
#copy a,
#copy a:hover,
#copy a:visited{
    color:#667E72;
}

/* Loader */

#waiter{
    z-index: 100;
    background-color: black;
    opacity: 0.9;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-image: radial-gradient(circle farthest-corner at center, #3C4B57 0%, #1C262B 100%);
}
.loader {
    position: absolute;
    top: calc(50% - 32px);
    left: calc(50% - 32px);
    width: 64px;
    height: 64px;
    border-radius: 50%;
    perspective: 800px;
}

.inner {
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.inner.one {
    left: 0%;
    top: 0%;
    -webkit-animation: rotate-one 1s linear infinite;
    -moz-animation: rotate-one 1s linear infinite;
    animation: rotate-one 1s linear infinite;
    border-bottom: 3px solid #EFEFFA;
}

.inner.two {
    right: 0%;
    top: 0%;
    -webkit-animation: rotate-two 1s linear infinite;
    -moz-animation: rotate-two 1s linear infinite;
    animation: rotate-two 1s linear infinite;
    border-right: 3px solid #EFEFFA;
}

.inner.three {
    right: 0%;
    bottom: 0%;
    -webkit-animation: rotate-three 1s linear infinite;
    -moz-animation: rotate-three 1s linear infinite;
    animation: rotate-three 1s linear infinite;
    border-top: 3px solid #EFEFFA;
}

@-webkit-keyframes rotate-one {
    0% {
        -webkit-transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
    }
    100% {
        -webkit-transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
    }
}

@-webkit-keyframes rotate-two {
    0% {
        -webkit-transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
    }
    100% {
        -webkit-transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
    }
}

@-webkit-keyframes rotate-three {
    0% {
        -webkit-transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
    }
    100% {
        -webkit-transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
    }
}

@-moz-keyframes rotate-one {
    0% {
        -moz-transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
    }
    100% {
        -moz-transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
    }
}

@-moz-keyframes rotate-two {
    0% {
        -moz-transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
    }
    100% {
        -moz-transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
    }
}

@-moz-keyframes rotate-three {
    0% {
        -moz-transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
    }
    100% {
        -moz-transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
    }
}

@keyframes rotate-one {
    0% {
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
    }
    100% {
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
    }
}

@keyframes rotate-two {
    0% {
        transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
    }
    100% {
        transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
    }
}

@keyframes rotate-three {
    0% {
        transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
    }
    100% {
        transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
    }
}
/* \ Loader */
